@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500&family=Mrs+Saint+Delafield&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,800;1,300;1,400;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
}
/* Start of "Программа курса" Desktop CSS  Part*/

.all-card-section-cover{
    width: 100%;
}
.container{
    margin-left: 84px;
    margin-right: 84px;
}
.section-title{
    margin-left: 27px;
    color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 55.762px */
margin-bottom: 94px;
}
.course-card{
    width: 399px;
    height: 328px;
    border-radius: 30px;
    box-shadow: 1px 1px 13px 0px gray;
    margin-bottom: 41px;
}
.centered-course-card{
    margin: 0 4%;

}
.course-number{
    color: #000;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 39px */
padding-bottom: 32px;
padding-top: 11px;
margin-left: 19px;
}
.course-date{
    color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 32.5px */
padding-bottom:23px ;
margin-left: 19px;
width: 58%;

}
.all-card{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
.last-card .course-number{
padding-bottom: 5px !important;
}
@media screen and (min-width : 1290px) {
    .all-card{
        width: 1302px;
        margin: 0 auto;
    }
}
/* End of "Программа курса" Desktop CSS  Part*/
@media screen and (min-width : 1275px) 
and 
(max-width : 1468px) {
    .centered-course-card{
        margin: 0 2%;
    
    }
    .course-card img{
        width: 100%;
    }
    .all-card{
        margin: 0 auto;
    width: 847px;
    }
.course-card{
    width: 31%;
}
.course-date{
    width: 61%;
}
}
@media screen and (min-width : 1219px) 
and 
(max-width : 1254px) {
    .centered-course-card{
        margin: 0 1%;
    
    
    }
    .course-card img{
        width: 100%;
    }
    .course-card {
        width: 355px;
    }
    .course-date{
        width: 65%;
    }
 
}
@media screen and (min-width : 1255px) 
and 
(max-width : 1275px) {
    .centered-course-card{
        margin: 0 1%;
    
    
    }
    .course-card img{
        width: 100%;
    }
    .course-card {
        width: 353px;
    }
    .course-date{
        width: 65%;
    }
 
}
@media screen and (min-width : 1218px) 
and 
(max-width : 1251px) {
    .centered-course-card{
        margin: 0 1%;
    
    
    }
    .course-card img{
        width: 100%;
    }
    .course-card {
        width: 343px;
    }
    .course-date{
        width: 69%;
    }
 
}
/* Start of "Программа курса" Tablet CSS  Part*/
@media screen and (min-width : 992px) 
and 
(max-width : 1219px) {
    .centered-course-card{
        margin: 0 9%;
    
    }
   .container{
    margin: 0  48px;
   }
   .section-title{
    font-size: 32px;
    line-height: 101.385%; /* 32.443px */
   }
   .course-card{
    width: 231.088px;
    height: 189.967px;
border-radius: 17.4px;
   }
   .course-card img{
    width: 231.088px;

height: 92.667px;
   }
   .course-date{
    font-size: 14px;
    padding-bottom: 13px;
    line-height: 130%; /* 18.2px */

   }
   .course-number{
    margin-top: 0px !important;
    font-size: 17px;
    line-height: 130%; /* 22.1px */
    padding-bottom: 18px;
   }
 .section-title{
    margin-bottom: 55px;
 }
 .last-card .course-number{
padding: 0.8px !important;
 }
}
/* End of "Программа курса" Tablet CSS  Part*/
/* Start of "Программа курса" Mobile CSS  Part*/

@media screen and (min-width : 320px) 
and 
(max-width : 991px) {
    .all-card{
        flex-direction: column;
        align-items: center;
    }
.container{
    margin:0 36px;
}
.section-title{
    font-size: 26px;
    margin-bottom: 36px;
line-height: 101.385%; /* 26.36px */
}
.course-card img{
    width: 186.923px;
height: 74.556px;
margin-bottom: 5px;
}
.course-date {
    font-size: 12px;
    line-height: 130%; /* 15.6px */
    margin-bottom: 10px;
    width: 60%;
}
.course-number{
    margin-top: 0px !important;
    font-size: 14px;
    margin-bottom: 14px;
    margin-bottom: 4px  !important;
    padding-bottom: 0 !important;
    line-height: 130%; /* 18.2px */
}
.course-card {
    width: 186.923px;
height: 173.839px;
border-radius: 14px;
margin-bottom: 24px !important;
}
.lessons{
    width: 30% !important;
}

}
/* End of "Программа курса" Mobile CSS  Part*/
/* Start of "О курсе" Desktop CSS  Part*/

#o-course-section .page-header{
  
    width: 77%;
    align-items: center;
    margin: 0px auto;
}
#o-course-section .course-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    justify-content: space-between;
}
#o-course-section .left{
    width: 55%;
}
#o-course-section .main-text{
    width: 96%;
}
#o-course-section .little-text{
    width: 92%;
}
#o-course-section p{
color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
}
#o-course-section h1.title{
    width: 100%;
    color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 55.762px */

margin-top: 91px;
margin-bottom: 19px;
}
#o-course-section .page-header img{
    width: 314px;
height: 315px;
}
#o-course-section .page-footer img{
width: 232px;
height: 203px;
}
#o-course-section .page-footer {
    width: 100%;
    display: flex;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: space-between;
  
}
#o-course-section .lessons{
    width: 17%;
    margin-left: auto;
}
#o-course-section .lessons p.first-p{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 32.5px */
}
/* Tablet */
@media screen and (min-width: 992px)
 and 
 (max-width: 1279px){
#o-course-section h1.title{
    font-size: 32px;
    line-height: 101.385%; /* 32.443px */
}
#o-course-section .main-text{
    width: 84%;
    font-size: 14px;
    line-height: 150%; /* 21px */

}
#o-course-section .right img{
    width: 181.858px;
height: 182.438px;
}
#o-course-section .little-text{
    width: 84%;
}
#o-course-section .page-footer{
    margin-left: 0;
}
#o-course-section .page-footer .img-box {
    width: 134.367px;
height: 117.571px;
}

#o-course-section .lessons p{
    font-size: 11px;
    line-height: 130%; /* 19.5px */
}
#o-course-section .lessons p.first-p{
    line-height: 130%; /* 19.5px */
    font-size: 15px;

}
#o-course-section .lessons{
    margin-left: 0;
    width: 15%;
}
  }



/* Tablet */
/* Telefon */
@media screen and (min-width: 320px)
and (max-width: 991px)
 {
  #o-course-section .course-content{
    display: block;
  }  
  #o-course-section .title{
    font-size: 26px;
line-height: 101.385%; /* 26.36px */

  }
  #o-course-section .main-text{
    font-size: 12px;
line-height: 150%; /* 18px */
  }
 #o-course-section .page-header img{
    width: 146.315px;
height: 146.781px;
  }
#o-course-section .img-box{
    display: none;
}
#o-course-section .little-text{
    margin-bottom: 56px;
}
#o-course-section .right{
    width: 30%;
    margin: 0 auto;
}
#o-course-section .left{
    width: 100%;
}
#o-course-section .lessons {
    width: 26%;
    margin-right: 34px;
    margin-bottom: 34px;
    margin-left: 0;
}
#o-course-section .page-footer{
    flex-wrap: wrap;
}
#o-course-section .lessons p{
    font-size: 10px;
}
#o-course-section .lessons p.first-p {
    font-size: 12px;
}
 }
/* Telefon */

/* End of "О курсе" Desktop CSS  Part*/





/* footer */
.hero{
    background-color: #9DC9C8;
    padding: 120px 84px;
}


 .hero h3{
    margin: 70px 0;
    color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 55.762px */

}
.nuh-span{
    color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 25.346px */
}
.nuh{
    margin-bottom: 90px;
color: #000;
font-family: Roboto;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 81.108px */
}
.parent{
    display: flex;
}
.left1{
    width: 293px;
    margin-right: 6%;
}
.right1{
    width: 293px;

}
 .parent h5{
    margin-bottom: 10px;
    color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 25.346px */
}
.nuhu{
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 18.249px */
}
.hero2{
    background-color: black;
    padding: 40px 84px;
    color: white;
    
}
.n20{
    display: flex;
    justify-content: space-between;
    
}
.phone{
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.385%; /* 25.346px */
   
}
.mail{
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.385%; /* 25.346px */

}
.logo-mobile-white{
    margin: 10px;
}
.logo-mobile-black{
display: block;
}
.logo-mobile-instagram{
    margin: 10px 10px 10px 0;
}
.logo-mobile-phone{
    margin: 0  10px 0 0;
}
.contact{
    margin-bottom: 10px;
}
.sin{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 101.385%; /* 18.249px */
margin-top: 180px;
}
@media screen and (min-width:992px) and (max-width:1279px) {
    .hero{
        background-color: #9DC9C8;
        padding: 100px 75px;
    }
    .hero2{
        background-color: black;
        padding: 35px 75px;
        color: white;}
        .hero h3{
    margin: 45px 0;
    font-size: 32px;
    }
    .nuh-span{
    font-size: 14px;
    }
    .nuh{
        margin-bottom: 50px;
    font-size: 46px;
    }
    .parent h5{
        margin-bottom: 6px;
    font-size: 15px;
    }
    .nuhu{
    font-size: 10px;
    }
    .phone{
        font-size: 14px;
        width: 59px;
    }
    .mail{
        font-size: 14px;
    }
    .left1{
        width: 163px;
    }
    .right1{
        width: 163px;
    }
    .sin{
    font-size: 10px;
    margin-top: 100px;
    }
    .logo-mobile-white{
        margin: 10px;
        width: 19.113px;
        height: 19.113px;
        flex-shrink: 0;
        margin: 0 6px 6px 0;
    }
    .logo-mobile-black{
        width: 66.604px;
        height: 39.383px;
        flex-shrink: 0;
    }
    .logo-mobile-instagram{
        margin: 6px 6px 6px 0;
        width: 19.113px;
        height: 19.113px;
        flex-shrink: 0;
    }
    .logo-mobile-phone{
    
        width: 19.113px;
        flex-shrink: 0;
        margin-right: 6px;
    }
    .contact{
        margin-bottom: 7px;
        height: 19.113px;
        flex-shrink: 0;
    }
}
@media screen and (min-width:320px) and (max-width:991px) {
    .hero{
        background-color: #9DC9C8;
        padding: 40px 40px 80px 40px;
    }
    .hero2{
        background-color: black;
        padding: 30px 40px;
        color: white;}
        .hero h3{
        margin: 38px 0;
        font-size: 26px;
        width: 224px;
        }
        .nuh-span{
        font-size: 12px;
        }
        .nuh{
            margin-bottom: 48px;
        font-size: 37px;
        }
        .parent h5{
            margin-bottom: 5px;
            
        font-size: 12px;
        }
        .nuhu{
        font-size: 10px;
        }
        .phone{
            font-size: 12px;
          
        }
        .mail{
            font-size: 12px;
        }
        .left1{
            width:138px;
            height: 30px;
        }
        .right1{
            width:138px;
            height: 30px;
        }
        .sin{
        font-size: 10px;
        margin-top: 75px;
        }
        .logo-mobile-white{
            width: 15.377px;
            height: 15.377px;
            flex-shrink: 0;
            margin:0 4px 4px 0;
        }
        .logo-mobile-black{
            width: 53.587px;
            height: 31.686px;
            flex-shrink: 0;
        }
        .logo-mobile-instagram{
            width: 15.377px;
            height: 15.377px;
            flex-shrink: 0;
            margin:10px 4px 4px 0;
        }
        .logo-mobile-phone{
            width: 15.377px;
            flex-shrink: 0;
            margin-right:4px;
        }
        .contact{
           margin-bottom: -4px;
           height: 26px;
        }
    .n20{
        display: block;
    }
    .n2{
        margin-top: 50px;
    }
}
@media screen and (min-width:320px) and (max-width:376px){
    .hero{
       
        padding: 40px 32px 80px 32px;
    }
    .hero2{
        padding: 30px 32px;
      }
      .parent h5{
        font-size: 10px;
      }
    .nuhu{
        font-size:9px;
    }
    .left1{
width: 123px;
margin-right: 4%;
    }
    .right1{
        width: 125px;
    }
}
/* footer */

/* margin-top: 91px; */

.p1{
    width: 987px;
height: 93px;
flex-shrink: 0;
color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 55.762px */
/* margin-top: 91px; */
margin-left: 83px;
margin-bottom: 34px;
padding-top: 58px;
padding-bottom: 20px;
}
.container{
    margin: 0 84px;
}
.big-div{
    background-color:#EFEFEF ;
     width: 1440px; 
height: 677px;
flex-shrink: 0;
}
.p2{
    width: 791px;
height: 429px;
flex-shrink: 0;
border-radius: 30px;
background: #FFF;
box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.25);
margin-left: 92px;
margin-top: 76px;}
/* .p3{
    width: 700px;
height: 203px;
flex-shrink: 0;
color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding: 40px 46px 50px 45px;
margin-bottom: 33px;
} */
.p3{
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding: 40px 14px 10px 13px;
margin-bottom: 33px;
    width: 92%;
    margin: 0 auto;

}
.photo{
    width: 250px;
height: 169px;
flex-shrink: 0;
    flex-shrink: 0;
}
.name{
    width: 353px;
height: 72px;
flex-shrink: 0;
color: #000;
font-family: Roboto Slab;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 30.415px */
/* padding: 50px 192px 99px 30px; */
}
.social{
    width: 32px;
height: 31px;
flex-shrink: 0;
}
.user-card-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -9px;

}
@media screen and (min-width: 992px) and (max-width: 1279px){
    .p1{
    /* width: 571.638px; */
    /* height: 53.863px; */
    font-size: 58px;
}
.p3{
    font-size: 22px;
    width: 88% !important;
    margin-left: 26px;
    margin-right: 26px;
    font-family: 'Roboto', sans-serif;
    

}
.photo{
    width: 149.042px;
    height: 138px;
    margin-left: 23px;
    margin-top: 5px;
}
.social{
    margin-left: 5px;
    width: 28.533px;
    height: 23px;
}
.name{
    
    font-family: 'Roboto Slab', serif;
    width: 268.446px;
   margin-left: 5px;
    font-size: 24px;
}
.p2{
    
    width: 58%;
    border-radius: 17.375px;
    box-shadow: 0.57917px 0.57917px 11.58333px 0px rgba(0, 0, 0, 0.25);
    height: 400px !important;
}
.user-info{
    margin-left: 17px;
}
.user-card-info{
    margin-left: 5px;
}
}
@media screen and (min-width: 320px) and (max-width: 991px){
    .p1{
        font-size: 26px;
        width: 248px;
        height: 20px;
        margin-left: 92px;
        margin-top: -17px;
        
    }
    .user-info{
        margin-left: 35px;
    }
    .p2{
        width: 80%;
        height: 239px;
        margin: 63px auto;
    }
    .p3{
        width: 83%;
height: 111.01px;
flex-shrink: 0;

font-size: 10px;
font-weight: 400;
line-height: 150%; /* 15px */
padding-top: 20px;
    }
    .photo{
        width: 80px;
height: 84px;
flex-shrink: 0;
    }
.name{
    width: 164.488px;
    height: 32.729px;
    flex-shrink: 0; 
    font-size: 14px;
font-style: normal;
font-weight: 700;
}
.social{
    width: 14.911px;
height: 17.197px;
flex-shrink: 0;
}
.user-card-info{
    margin-top: 36px;
    margin-left: -8px;
}
.user-img-1{
    margin-left: 22px;
}
.card-section-content-container{
    width: 100%;
 margin: 0 auto !important;
}
.big-div{
    width: 100%; 
    

}
.photo{
    margin-left: 38%;
}


}
@media screen and (min-width: 650px) and (max-width: 991px){
.p2{
    width: 73%;
}
.p1{
    width: 57%;   
}
}
@media screen and (min-width: 320px) and (max-width: 520px){
    .p2{
    width: 60%;
}
.p1{
    width: 72%;   
}
.user-card-info{
    margin-top: 28px;
    margin-left: -7px;
}
.p3{
    font-size: 9px;
}
.user-card-info{
    margin-top: 49px;
    margin-left: -33px;
}
.name{
    font-size: 10px;
}
.social{
    width: 14px;
    height:18px;
    margin-top: -28px;

}
.photo{
    width: 63px;
    height: 83px;
}
.user-card-info{
    margin-left: -24px;
}
}
@media screen and (min-width: 320px) and (max-width: 380px){
    .p1{
        margin-left: 53px;
    }
    .p3{
        font-size: 7px;
    }
    .user-card-info{
    margin-left: -28px;
}
.user-info {
    margin-left: 24px;
}

    

}


.all-card-section-cover{
    width: 100%;
}
.container{
    margin-left: 84px;
    margin-right: 84px;
}
.section-title{
    margin-left: 27px;
    color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 55.762px */
margin-bottom: 94px;
}
.course-card{
    width: 399px;
    height: 328px;
    border-radius: 30px;
    box-shadow: 1px 1px 13px 0px gray;
    margin-bottom: 41px;
}
.centered-course-card{
    margin: 0 4%;

}
.course-number{
    color: #000;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 39px */
padding-bottom: 32px;
padding-top: 11px;
margin-left: 19px;
}
.course-date{
    color: #000;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 32.5px */
padding-bottom:23px ;
margin-left: 19px;
width: 58%;

}
.all-card{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
.last-card .course-number{
padding-bottom: 5px !important;
}
@media screen and (min-width : 1290px) {
    .all-card{
        width: 1302px;
        margin: 0 auto;
    }
}
/* End of "Программа курса" Desktop CSS  Part*/
@media screen and (min-width : 1275px) 
and 
(max-width : 1468px) {
    .centered-course-card{
        margin: 0 2%;
    
    }
    .course-card img{
        width: 100%;
    }
    .all-card{
        margin: 0 auto;
    width: 847px;
    }
.course-card{
    width: 31%;
}
.course-date{
    width: 61%;
}
}
@media screen and (min-width : 1219px) 
and 
(max-width : 1254px) {
    .centered-course-card{
        margin: 0 1%;
    
    
    }
    .course-card img{
        width: 100%;
    }
    .course-card {
        width: 355px;
    }
    .course-date{
        width: 65%;
    }
 
}
@media screen and (min-width : 1255px) 
and 
(max-width : 1275px) {
    .centered-course-card{
        margin: 0 1%;
    
    
    }
    .course-card img{
        width: 100%;
    }
    .course-card {
        width: 353px;
    }
    .course-date{
        width: 65%;
    }
 
}
@media screen and (min-width : 1218px) 
and 
(max-width : 1251px) {
    .centered-course-card{
        margin: 0 1%;
    
    
    }
    .course-card img{
        width: 100%;
    }
    .course-card {
        width: 343px;
    }
    .course-date{
        width: 69%;
    }
 
}
/* Start of "Программа курса" Tablet CSS  Part*/
@media screen and (min-width : 992px) 
and 
(max-width : 1219px) {
    .centered-course-card{
        margin: 0 9%;
    
    }
   .container{
    margin: 0  48px;
   }
   .section-title{
    font-size: 32px;
    line-height: 101.385%; /* 32.443px */
   }
   .course-card{
    width: 231.088px;
    height: 189.967px;
border-radius: 17.4px;
   }
   .course-card img{
    width: 231.088px;

height: 92.667px;
   }
   .course-date{
    font-size: 14px;
    padding-bottom: 13px;
    line-height: 130%; /* 18.2px */

   }
   .course-number{
    margin-top: 0px !important;
    font-size: 17px;
    line-height: 130%; /* 22.1px */
    padding-bottom: 18px;
   }
 .section-title{
    margin-bottom: 55px;
 }
 .last-card .course-number{
padding: 0.8px !important;
 }
}
/* End of "Программа курса" Tablet CSS  Part*/
/* Start of "Программа курса" Mobile CSS  Part*/

@media screen and (min-width : 320px) 
and 
(max-width : 991px) {
    .all-card{
        flex-direction: column;
        align-items: center;
    }
.container{
    margin:0 36px;
}
.section-title{
    font-size: 26px;
    margin-bottom: 36px;
line-height: 101.385%; /* 26.36px */
}
.course-card img{
    width: 186.923px;
height: 74.556px;
margin-bottom: 5px;
}
.course-date {
    font-size: 12px;
    line-height: 130%; /* 15.6px */
    margin-bottom: 10px;
    width: 60%;
}
.course-number{
    margin-top: 0px !important;
    font-size: 14px;
    margin-bottom: 14px;
    margin-bottom: 4px  !important;
    padding-bottom: 0 !important;
    line-height: 130%; /* 18.2px */
}
.course-card {
    width: 186.923px;
height: 173.839px;
border-radius: 14px;
margin-bottom: 24px !important;
}
.lessons{
    width: 30% !important;
}

}
/* End of "Программа курса" Mobile CSS  Part*/
/* Start of "О курсе" Desktop CSS  Part*/

#o-course-section .page-header{
  
    width: 77%;
    align-items: center;
    margin: 0px auto;
}
#o-course-section .course-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    justify-content: space-between;
}
#o-course-section .left{
    width: 55%;
}
#o-course-section .main-text{
    width: 96%;
}
#o-course-section .little-text{
    width: 92%;
}
#o-course-section p{
color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
}
#o-course-section h1.title{
    width: 100%;
    color: #000;
font-family: Roboto Slab;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; /* 55.762px */

margin-top: 91px;
margin-bottom: 19px;
}
#o-course-section .page-header img{
    width: 314px;
height: 315px;
}
#o-course-section .page-footer img{
width: 232px;
height: 203px;
}
#o-course-section .page-footer {
    width: 100%;
    display: flex;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: space-between;
  
}
#o-course-section .lessons{
    width: 17%;
    margin-left: auto;
}
#o-course-section .lessons p.first-p{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 32.5px */
}
/* Tablet */
@media screen and (min-width: 992px)
 and 
 (max-width: 1279px){
#o-course-section h1.title{
    font-size: 32px;
    line-height: 101.385%; /* 32.443px */
}
#o-course-section .main-text{
    width: 84%;
    font-size: 14px;
    line-height: 150%; /* 21px */

}
#o-course-section .right img{
    width: 181.858px;
height: 182.438px;
}
#o-course-section .little-text{
    width: 84%;
}
#o-course-section .page-footer{
    margin-left: 0;
}
#o-course-section .page-footer .img-box {
    width: 134.367px;
height: 117.571px;
}

#o-course-section .lessons p{
    font-size: 11px;
    line-height: 130%; /* 19.5px */
}
#o-course-section .lessons p.first-p{
    line-height: 130%; /* 19.5px */
    font-size: 15px;

}
#o-course-section .lessons{
    margin-left: 0;
    width: 15%;
}
  }



/* Tablet */
/* Telefon */
@media screen and (min-width: 320px)
and (max-width: 991px)
 {
  #o-course-section .course-content{
    display: block;
  }  
  #o-course-section .title{
    font-size: 26px;
line-height: 101.385%; /* 26.36px */

  }
  #o-course-section .main-text{
    font-size: 12px;
line-height: 150%; /* 18px */
  }
 #o-course-section .page-header img{
    width: 146.315px;
height: 146.781px;
  }
#o-course-section .img-box{
    display: none;
}
#o-course-section .little-text{
    margin-bottom: 56px;
}
#o-course-section .right{
    width: 30%;
    margin: 0 auto;
}
#o-course-section .left{
    width: 100%;
}
#o-course-section .lessons {
    width: 26%;
    margin-right: 34px;
    margin-bottom: 34px;
    margin-left: 0;
}
#o-course-section .page-footer{
    flex-wrap: wrap;
}
#o-course-section .lessons p{
    font-size: 10px;
}
#o-course-section .lessons p.first-p {
    font-size: 12px;
}
 }
/* Telefon */

/* End of "О курсе" Desktop CSS  Part*/
.l1, .l2, .l3, .l4{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block1{
    display: flex;
}
.l1, .l2, .l3{
    list-style-type: none;
}
.l1 :first-child, .l2 :first-child, .l3 :first-child{
    color: #1E4681;
    font-size: 25px;
}
.l1 :nth-child(2), .l2 :nth-child(2), .l3 :nth-child(2){
    font-weight: 400;
    font-size: 18px;
}
.l1 :nth-child(2), .l2 :nth-child(2){
    margin-top: 2%;
}
.l2, .l3{
    margin-left: 110px;
}
.l4 li{
    font-size: 24px;
    padding: 0.5%;
}
.head1, .head2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
.head1{
    margin-bottom: 6.5%;
    font-size: 55px;
}
.head2{
    font-size: 55px;
    margin-bottom: 3%;
    margin-top: 13%;
}
.format{
    margin-bottom: 6.5%;
    margin-top: 6%;
    margin-left: 8%;
}
.what{
    margin-left: 8%;
    margin-bottom: 14%;
}
.l1, .l2, .l3{
    width: 20%;
}
.l4{
    width: 46%;
}
.l4 :nth-child(3){
    width: 89%;
}
@media screen and (min-width: 992px) and (max-width: 1279px){
    .l1 :nth-child(2), .l2 :nth-child(2), .l3 :nth-child(2){
        font-size: 11px !important;
    }
    .l1 :first-child, .l2 :first-child, .l3 :first-child{
        font-size: 15px !important;
    }
    .l4 li{
        font-size: 14px !important;
    }
    .head1, .head2{
        font-size: 32px !important;
        
    }
    .l4{
        width: 34%;
    }
    .l1 :nth-child(2){
        width: 62%;
    }
    .l2 :nth-child(2){
        width: 76%;
    }
}

@media screen and (min-width: 320px) and (max-width: 992px) {
    .block1{
      display: block;
    }
    .l2, .l3{
        margin-left: 0%;
    }
    .l1 :nth-child(2), .l2 :nth-child(2), .l3 :nth-child(2){
        font-size: 10px !important;
    }
    .l4 li, .l1 :first-child, .l2 :first-child, .l3 :first-child{
        font-size: 12px !important;
    }
    .head1, .head2{
        font-size: 26px !important;
    }
    .l2, .l3{
        margin-top: 4%;
    }
    .l2 :nth-child(2){
        width: 97%;
    }
    .l4{
        width: 34%;
    }
    .l4 :nth-child(3){
        width: 95%;
    }

}